<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="style.css">
   <title>Burger Heaven</title>
   <script> src="assets/burger.js"</script>
</head>

<body>
   {{{body}}}
</body>

</html>